.navbar {
  max-height: 120px;
  /* background-color: #4056A1; */
  background-color: #ad0c02;
  color: #FFFFFF;
  padding-top: 1.5em;
  padding-bottom: 0.8em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
}

nav span {
  padding-bottom: 0.5em;
  font-family: 'Bungee', sans-serif;
}

nav p {
  margin: 0;
  padding: 0.1em;
  font-family: 'Source Sans Pro', sans-serif;
}

nav button {
  all: unset;
  cursor: pointer;
}
nav button:focus {
  outline: skyblue 5px auto;
}

.nav-post {
  display: flex;
  align-items: center;
  flex-direction: column;
}